*{
    color:green;
}
#cover-box{
    color:navy;
    border: 1px solid #17212e;
    border-radius: 10%;
    padding: 10px 70px;
}

body{
    color: #00D1AE;
}
.menu{
    width: 400px;
    height: 50 px;
    color: #00D1AE
}
.content{
    width: 400px;
    height: 200px;
    color: red;
}
.featured{
    font-weight: bold;
}