h1{
    background-color: pink;
    color: black;
    text-align: center;
}
#PrimerMenu{
    list-style-type: none;
}
li {
    float: left;
    margin-left: 20px;
}


#PrimeraSeccion{
    color:black;
    justify-content: center
}
#PrimerAutor{
    text-align: justify;
    color:black;
}
img{
    width: 150px;
    height: 90px;
}



@media (max-width: 1000px) {
    p{
        font-size: 20px;
        color:red;
    }

    .abajo{
        float: right;
        color:pink;
        width: 200px;
        background-color: steelblue;
        clear: left;
    }
}


@media (min-width: 1000px) {
    .Enlaces{
        display: flex;
        color:red;
    }
    .Cuerpo{
        display: flex;
    }
    .PrimeraColumma{
        width: 45%;
        color:pink;
    }

    .SegundaColumma{
        width:25%;
        flex-direction: row;
    }
    p{
        font-size: 30px;
        color:black;
    }

}


