.body{
    background:  pink;
}

h1{
    color: forestgreen;
}
h2{
    color: #008080;
}
p{
    color: rgb(27.45, 50.98,70.59)
    
}
.primera{
    background: purple;
}
.segunda{
    background: green;
}
.tercera{
    background:lightblue
}